# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# test service account file
service_account.json

# etc test info
lib/config/config.dart
